@page
@model IndexModel
@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1>App for mocap 2d human pose from video</h1>
    <a class="btn btn-success" href="/Upload">Upload video</a>
</div>
